.footer {
  width: 100%;
  min-height: 15vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia a {
  color: var(--text-secondary);
  margin: 0 1.5rem;
  transition: var(--transition);
}

.socialMedia a:hover {
  color: var(--text-primary);
  transform: translateY(-3px);
}

.socialMedia svg {
  font-size: 2rem;
}

.footer p {
  color: var(--text-secondary);
  font-size: 0.8rem;
  margin-top: 2rem;
  letter-spacing: 0.05em;
  font-weight: 300;
  text-transform: uppercase;
}